.search-bar-container {
    display: flex;
    align-items: center;
  }

.search-bar-container {
    position: relative;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
  }
  
  .search-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 28%;
    background-color:  #91a6bd;
    box-shadow: 0 2px 4px rgba(24, 4, 124, 0.2);
    padding: 8px;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results li {
    cursor: pointer;
    padding: 4px 8px;
  }
  
  .search-results li:hover {
    background-color: #f1f1f1;
  }

  .searche-input-container {
    position: relative;
  }
  
  .searche-input {
    padding-right: 200px; 
  }
  
  .searche-icon {
    position: absolute;
    top: 30%;
    right: 5px;
    width: 500px;
    background-color: #91a6bd;
    transform: translateY(-50%);
  }
 
  .search-button {
    position: absolute;
    top: 40%;
    right: 10px;
   
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  
  